.home-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
}
.home-logo {
    position: relative;
    color: white;
    float: left;
}

.home-navbar-dropdowns {
    float: right
}

.home-navbar-button {
    color: white;
}

.home-collapsed-button {
    color: teal;
}

#home-search-bar {
    position: relative;
    left: 2%;
}

#home-center{
    margin: auto
}

#home-displayed-content {
    margin-top: 75px;
}

#home-buttons-collapsed {
    position: fixed;
    top: 85%;
    right: 10%;
}

.home-web-name {
    font-size: xx-large;
}

.home-dropdown-link {
    color: teal;
}

.home-navbar-link {
    color: white;
}

#home-welcome-section {
    margin: 10%;
}

.home-left {
    position: relative;
}



.fa-capsules {}
.fa-exclamation-circle {color: orange}
.fa-portrait {}
.fa-edit {}
.fa-newspaper{}
.fa-ellipsis-v {
    color: teal;
}
