.home-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.home-logo {
    position: relative;
    color: white;
    float: left;
}

#home-main-content {
    justify-content: center;
}

.home-navbar-dropdowns {
    float: right
}

.home-navbar-button {
    color: white;
}

.home-collapsed-button {
    color: teal;
}

#home-search-bar {
    position: relative;
    left: 2%;
}

#home-displayed-content {
    margin-top: 75px;
}

#home-buttons-collapsed {
    position: fixed;
    top: 85%;
    right: 10%;
}

.home-web-name {
    font-size: xx-large;
}

.home-dropdown-link {
    color: teal;
}

.home-navbar-link {
    color: white;
}

#home-welcome-section {
    margin-top: 10%;
    margin-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.home-left {
    position: relative;
}

.about-header {
    background-color: teal;
    color: white;
    width: 100%;
    padding: 3%;
    text-align: center;
}

#link-to-home {
    float: right;
    color: black;
}


.fa-capsules {}
.fa-exclamation-circle {color: orange}
.fa-portrait {}
.fa-edit {}
.fa-newspaper{}
.fa-ellipsis-v {
    color: teal;
}
