.landing-page-container.container-fluid {
    padding: 0;
}

.landing-page-container .top-links {
    margin: 0;
}

.landing-page-container .row {
    margin-right: 0;
    margin-left: 0;
}

.landing-page-container .main-stuff {
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.landing-page-container .main-stuff svg {
    color: #17a2b8;
}

.landing-page-container #buttons button {
    margin: 5px 0;
    border-radius: 5px;
    background-color: #17a2b8;
}

#to-privacy-policy {
    color: white;
}

#to-home-page {
    color: white;
}

#landing-logo {
    text-align: center;
    position: relative;
    top: 40%;
}

#slogan {
    margin-top: 10px;
}

#icon {
    margin:auto
}

#buttons {
    margin:auto
}

#to-about-page {
    color: black;
}

.top-links {
    background-color: #17a2b8;
    width: 100%;
}
