.news-card {
    background-color: white;
    list-style-type: none;
    margin-bottom: 2%;
}

.card-descript {
    padding: 1%
}

.card-source {
    background-color: dimgrey;
    color: white
}

.card-title {
    color: black;
    font-weight: bold;
}

.link-to-article:link:hover {
    font-size: 150%;
}

.news-credit {
    float: right;
    color: grey;
}

#news-body {
    overflow-y: scroll;
    padding: 5%;
    height: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: teal;
}
