.profile-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.profile-container {
    margin: 50px;
}

.profile-logo {
    position: relative;
    color: white;
    float: left;
}

.collapse .form-group {
    margin-bottom: 20px;
}

.collapse .form-group label {
    padding-top: 0;
    padding-bottom: 0;
}

.collapse form,
.collapse .subscribed-label {
    margin: 20px 0;
}

.profile-navbar-dropdowns {
    float: right
}

.profile-navbar-button {
    color: white;
    position: fixed;
}

.profile-collapsed-button {
    color: teal;
}

.to-home {
    color: white;
    font-size: 150%;
}

.profile {
    position: relative;
    top: 100px;
}

.username {
    font-size: 300%;
    margin-right: 1%;
}

.profile-username-img {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

.condition-add-btn {
    color: white;
    font-size: 100%;
    font-style: bold;

}

.subscription-list {
    list-style-type: none;
}

.conditions {
    position: relative;
    left: 30px;
    bottom: 10px
}

@media screen and (max-width: 545px) {
    .private-profile .dropdown-buttons {
        display: block!important;
    }

    .private-profile .dropdown-buttons button {
        display: block;
        width: 100%;
        border-radius: 0!important;
        margin-left: 0!important;
    }
}